/* Adjust Thread pane message row height */
#threadTree treechildren:-moz-tree-row {
	height: 48px !important;
}
#threadTree treechildren:-moz-tree-cell-text {
	font-size: 13px !important;
}
#threadTree treechildren:-moz-tree-image(faceImage) {
	width: 48px !important;
	height: 48px !important;
}