#vismon {
    background-color: blue;
}

.faces {
    border: 1px solid black;
    background-color: Beige;
    margin: 4px;
    display: table;
    line-height: 0;
}

.faces a {
    width: 64px;
    height: 64px;
    display: inline-block;
    text-align: center;
    /*overflow: auto;*/
    overflow: hidden;
}

.faces a:hover {
    background-color: white;
}

.faces a:not(:last-child) {
    border-right: 1px solid black;
}

.faces vbox {
    display: initial;
}

.faces label {
    font-weight: bold;
    margin-left: 1px;
}
