#vismon {
    background-color: blue;
}

.faces {
    background-color: Beige;
    border: 1px solid black;
    display: table;
    line-height: 0;
    margin: 4px;
}

.faces a {
    display: inline-block;
    height: 64px;
    overflow: hidden;
    text-align: center;
    width: 64px;
}

.faces a:hover {
    background-color: white;
}

.faces a:not(:last-child) {
    border-right: 1px solid black;
}

.faces vbox {
    display: initial;
}

.faces label {
    font-weight: bold;
    margin-left: 1px;
}
